on:
  push:
    branches:
      - main
  pull_request:
name: CI
jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    env:
      GOPROXY: direct
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: cashapp/activate-hermit@e49f5cb4dd64ff0b0b659d1d8df499595451155a # v1
      - run: |
          find . -name go.mod | grep -v /testdata | xargs -n1 dirname | while read dir; do (
            cd "$dir"
            go mod tidy
            go test -v ./...
          ); done
          git diff
  lint:
    name: Lint
    runs-on: ubuntu-latest
    env:
      GOPROXY: direct
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: cashapp/activate-hermit@e49f5cb4dd64ff0b0b659d1d8df499595451155a # v1
      - run: |
          find . -name go.mod | grep -v /testdata | xargs -n1 dirname | while read dir; do (
            cd "$dir"
            go mod tidy
            golangci-lint run
          ); done
          git diff
  release:
    if: github.ref == 'refs/heads/main'
    needs: ["test", "lint"]
    name: Release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          fetch-depth: 0
      - uses: cashapp/activate-hermit@e49f5cb4dd64ff0b0b659d1d8df499595451155a # v1
      - uses: charlesthomas/github-action-svu@v1.0.5+2.1.1
        id: svu
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - run: |
          git tag ${{ steps.svu.outputs.next }}
          goreleaser release --fail-fast
          git push --tags
        if: ${{ steps.svu.outputs.changed == 'true' }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
